.edge-header {
    display: block;
    height: 200px;
    background-color: #ccc;
}
.edgeheaderpoz {
    position: relative;
    top: -15px;
    margin-bottom: -125px;
}
.edgeheaderpoz::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background: url(../Slike/zenasesir.png);
    background-position: center center;
    background-size: cover;
    filter: opacity(.5);
   left: 0;
}
.social {
    display: flex;
    justify-content: center;
}
.social a {
    color: rgb(9,34,54);
    margin: 20px 9px;
    font-size: 1.5em;
}
.social a:hover {
    color: rgb(0,66,54);
}

